<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (payment(); as paymentRef) {
      <div>
        <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="gatewayApp.payment.detail.title">Payment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ paymentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.payment.amount">Amount</span></dt>
          <dd>
            <span>{{ paymentRef.amount }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.payment.paymentDate">Payment Date</span></dt>
          <dd>
            <span>{{ paymentRef.paymentDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.payment.method">Method</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.PaymentMethod.' + (paymentRef.method ?? 'null')">{{
              { null: '', CREDIT_CARD: 'CREDIT_CARD', CASH: 'CASH', BANK_TRANSFER: 'BANK_TRANSFER' }[paymentRef.method ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.payment.invoice">Invoice</span></dt>
          <dd>
            @if (payment()!.invoice) {
              <div>
                <a [routerLink]="['/invoice', payment()!.invoice?.id, 'view']">{{ paymentRef.invoice?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/payment', paymentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
