<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-owner-heading" data-cy="OwnerCreateUpdateHeading" jhiTranslate="gatewayApp.owner.home.createOrEditLabel">
        Create or edit a Owner
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.owner.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="gatewayApp.owner.address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_city" jhiTranslate="gatewayApp.owner.city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telephone" jhiTranslate="gatewayApp.owner.telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="gatewayApp.owner.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
